@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'Robot';
  font-style: 'normal';
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxP.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lbBP.ttf)
    format('truetype');
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.app {
  display: flex;
  min-height: calc(100vh - 3em);
  color: var(--font-main-color);
}

.content {
  margin: 0;
  padding: 4em 10vw;
}

.topbar {
  background-color: var(--quaternary-color);
  margin: 0;
  height: 3em;
  display: flex;
  justify-content: center;
}

.topbar-inactive {
  background-color: var(--inactive-color);
}

button {
  background-color: var(--tertiary-color);
  color: var(--font-main-color);
  border-radius: 15px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #54a257;
}

/*
=======================
   Code Editor Styles
=======================
*/
.code-editor {
  display: flex;
  flex-direction: column;
  background: rgb(29, 28, 28);
  border-radius: 15px;
  min-width: 35rem;
}

.editor-container {
  max-height: 60vh;
  overflow-y: auto;
  cursor: default;
}

.editor-name {
  padding: 0.4em;
  margin: 0;
  user-select: none;
}

.token.operator {
  background-color: transparent !important;
}

.token.number {
  /* Your styles for numbers here */
  color: blue;
}

.token.property {
  /* Your styles for keys in objects here */
  color: green;
}

.editor-close-btn {
  background-color: rgb(156, 10, 10);
}

.editor-save-btn,
.editor-close-btn {
  margin: 0.5em 1em 0.5em 1em;
}

.code-editor-save-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: var(--font-main-color);
  padding: 1em;
}
