@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'Robot';
  font-style: 'normal';
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  color: var(--font-main-color);
}

.content {
  margin: 0;
  padding: 4em 10vw;
}

button {
  background-color: #4CAF50;
  color: white; 
  padding: 14px 20px; 
  margin: 8px 0; 
  border: none; 
  cursor: pointer; 
  width: 100%; 
}

button:hover {
  opacity: 0.8; 
}

