/* 
Original Color Palette
--primary-color: #164B60;
--secondary-color: #1B6B93;
--tertiary-color: #4FC0D0;
--quaternary-color: #A2FF86; 

*/

:root {
  --primary-color: #164b60;
  --secondary-color: #1b6b93;
  --tertiary-color: #4caf50;
  --quaternary-color: #4caf50;
  --inactive-color: #868484;
  --font-main-color: #f6fff5;
  --diagram-bg-color: #2f2f2f;
}
.something {
 color:  #173e4d;;
}