.projects-page {
  color: var(--font-main-color);
  background-color: var(--secondary-color);
  border: 15px solid var(--secondary-color);
  width: 35%;
}
/*
=================
AddProject Styles
=================
*/
.project-form {
  border: 15px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.project-name-header {
  background-color: (--tertiary-color);
  color: var(--font-main-color);
}

.project-header {
  font: 'Roboto' sans-serif;
  color: var(--font-main-color);
  text-align: center;
  padding-right: 1.8em;
}

/*
=================
Project List Card
=================
*/

.project-card {
  background-color: var(--primary-color);
  min-width: 25em;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.95em;
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card-header h2 {
  margin: 0;
}

.project-header-btns {
  display: flex;
}

.project-header-btns > * {
  border: 1px solid var(--secondary-color);
  margin-left: 0.5em;
  border-radius: 5px;
}

.project-card-body {
  display: flex;
}

.project-card-body-row {
  display: flex;
  justify-content: space-between;
}

.project-card-path-label {
  font-weight: bold;
}

.project-card-path {
  margin-left: 2em;
}

.chooseProjHeader {
  text-align: center;
  padding-right: 1em;
}
.serverHeader {
  text-align: center;
}

.project-name-container {
  /* align-items: center; */
  padding-right: 3.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.inputBox {
  /* align-items: center; */
  border: 0;
  outline: 0;
  font: 'Roboto' sans-serif;
  width: 12em;
  height: 1.9em;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.numOfFilesHeader {
  text-align: center;
}

.projFolderHeader {
  text-align: center;
}
.projPageButtons {
  align-items: center;
  margin-left: 25%;
  width: 40%;
}

.loadButton {
  border-radius: 50px;
  width: 85px;
}

.deleteButton {
  border-radius: 50px;
  width: 85px;
}
