.projects-page {
  color: var(--font-main-color);
  background-color: var(--secondary-color);
  border: 15px solid var(--secondary-color);
  
  
  
}


/*
=================
AddProject Styles
=================
*/
.project-form {
  border: 15px solid var(--secondary-color);
  background-color: var(--secondary-color);
  
  
}

.project-name-header { 
  background-color: (--tertiary-color);
  color: var(--font-main-color)

}